HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
DATABASE_HOST=64.227.38.78
DATABASE_PORT=3306
DATABASE_NAME='stickback'
DATABASE_USERNAME='root'
DATABASE_PASSWORD='1603Sachdev'
JWT_SECRET=uaRj9vhed2QFqFDlI5f/kA==
SIM_API_TOKEN=vqmAdC1AVE0LVGhHc7m6GLcA0986
